<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <h1 class="title">URL Shortener</h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      width="200px">
    {{{body}}}
  </div>
  <script src="javascript/copy.js"> </script>
  <script src="https://kit.fontawesome.com/9592afdd32.js" crossorigin="anonymous"></script>
</body>

</html>